@import "skeleton/loader";

h1, h2, h3, h4, h5, h6 {
    a {
        box-shadow: none;
        &:hover {
            box-shadow: none;
        }
    }
}

.site-header {
    margin: $spacer-2 0;
    vertical-align: bottom;

    h1 {
        font-size: 24px;
        display: inline-block;
        margin: 0 $spacer 0 0;
    }

    nav {
        display: inline-block;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        font-size: 14px;

        a {
            text-transform: uppercase;
            box-shadow: none;
            color: $font-color-sub;
            padding-top: 5px;
            margin: 0 $spacer-5;
            transition: border 150ms 0s ease;

            &:hover {
                border-top: 3px solid $font-color;
            }

            &.active {
                font-weight: 700;
                border-top: 3px solid $font-color;
                color: $font-color
            }
        }
    }
}

.site-footer {
    margin-top: 50px;
    border-top: 2px solid $border-color;
    padding: 30px 0;
    color: $font-color-sub;

    .links {
        text-align: right;

        svg {
            display: inline-block;
        }
    }
}

a.fade {
    box-shadow: none;
    color: $font-color-sub;
    transition: color 150ms 0s ease;

    &:hover {
        box-shadow: none;
        color: $font-color;
    }
}


.paginator {
    margin: relative(36px) 0;

    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0 5px;

        a {
            display: table-cell;
        }
    }
}


.meta {
    font-weight: 300;
    color: $font-color-sub;
}

.post-list-item {
    padding: $spacer-5 0;
    margin: $spacer-5 0;
    border-bottom: 2px solid $border-color;

    h2 {
        font-size: 18px;
        margin-bottom: 0rem;
    }
}

.post-header {
    padding: $spacer-5 0;
    margin: $spacer 0 $spacer-2 0;
    border-bottom: 2px solid $border-color;

    h2 {
        margin-bottom: $spacer;
    }
}
