@import "skeleton/loader";

.site-header {
    margin: $spacer-double 0;
    vertical-align: bottom;

    h1 {
        font-size: 24px;
        margin: 0 $spacer 0 0;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        font-size: 14px;
        margin: 0 $spacer-half;
        &:last-child {
            margin: 0 0 $spacer-half 0;
        }

        a {
            text-transform: uppercase;
            box-shadow: none;
            color: $font-color-sub;
            padding-top: 5px;
            transition: border 150ms 0s ease;

            &:hover {
                border-top: 3px solid $font-color;
            }

            &.active {
                font-weight: 700;
                border-top: 3px solid $font-color;
                color: $font-color
            }
        }
    }

    #menu-icon, #menu-checkbox {
        display: none;
    }
}


@media only screen and (max-width: $tablet-width - 1) {
    .site-header {
        #menu-icon {
            display: block;
        }

        ul {
            margin: $spacer 0;
            display: none;
            background-color: white;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 100;
        }

        li {
            font-size: 18px;
            font-weight: 300;
            display: block;
            text-align: center;
            border-bottom: 2px solid $border-color;
            padding: $spacer-half 0;

            a:hover {
                border: none;
            }

            a.active {
                font-weight: 700;
                border: none;
            }
        }

        li:last-child {
            // border-bottom: none;
        }

        [id^=menu-checkbox]:checked + ul{
            display: block;
        }
    }
}

.site-footer {
    margin: $spacer-double 0;
    padding: $spacer-double 0;
    border-top: 2px solid $border-color;
    color: $font-color-sub;

    .links {
        text-align: right;

        svg {
            display: inline-block;
        }
    }
}

a.fade {
    color: $font-color-sub;
    transition: color 150ms 0s ease;

    &:hover {
        color: $font-color;
    }
}

a.nounderline {
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}

.paginator {
    margin: $spacer-double 0;

    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0 5px;

        a {
            display: table-cell;
        }

        a.active {
            font-weight: 700;
            color: $font-color;
        }
    }
}


.meta {
    font-weight: 300;
    color: $font-color-sub;

    .date {
        float: left;
    }

    .author {
        float: right;
    }
}

@media only screen and (max-width: $tablet-width - 1) {
    .meta .author, .meta .date {
        float: none;
    }
}

.post-list-item {
    padding: $spacer-half 0;
    margin: $spacer-half 0;
    border-bottom: 2px solid $border-color;

    h2 {
        font-size: 18px;
        margin-bottom: 0rem;
    }
}

.post-header {
    padding: $spacer-half 0;
    margin: $spacer 0 $spacer-double 0;
    border-bottom: 2px solid $border-color;

    h2 {
        margin-bottom: $spacer;
    }
}
