<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>

    <style>
      {{ print (partial "main.css" .) | safeCSS  }}
    </style>
    {{ partial "json-ld.html" . }}
  </head>
  <body>
    <div class="container">
      <div class="row">
        {{ partial "header.html" . }}
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer.html" . }}
      </div>
    </div>
  </body>
</html>
