@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-size: 62.5%;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* BASIC STYLES
 * ------------------------------------------------ */
html {
  font-size: 62.5%; }

body {
  background: #fff;
  font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #555555;
  margin: 0 auto; }

/* SPACING
 * ------------------------------------------------ */
button,
.button {
  margin-bottom: 1.8rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.8rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 3.6rem; }

/* LINKS
 * ------------------------------------------------ */
a {
  color: #555555;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #555555;
  transition: box-shadow 150ms 0s ease; }
  a:hover {
    box-shadow: inset 0 0 0 #555555, 0 3px 0 #555555; }

/* LISTS
 * ------------------------------------------------ */
ul {
  list-style: circle outside none; }

ol {
  list-style: decimal outside none; }

ol, ul {
  margin-left: 0;
  padding-left: 1.8rem; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.8rem 0 1.8rem 3.6rem; }

li {
  margin-bottom: 1rem; }

/* CODE
 * ------------------------------------------------ */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f8f8f8;
  font-family: Monaco, Consolas, monospace;
  border: 1px solid #f0f0f0;
  border-radius: 3px; }

pre > code {
  margin: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow: scroll;
  border: none;
  border-radius: 0; }

.highlight pre > code {
  background: none; }

/* MISC
 * ------------------------------------------------ */
img {
  max-width: 100%;
  height: auto; }

blockquote {
  margin: 0;
  border-left: 5px solid #f0f0f0;
  padding-left: 1em; }

hr {
  border: 1px solid #f0f0f0;
  margin: 3.6rem 0; }

/* TABLES
 * ------------------------------------------------ */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

/* TYPOGRAPHY
 * ------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
  color: #555555;
  font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.8rem; }

h1, .h1 {
  font-size: 2.7rem;
  margin-bottom: 3.6rem; }

h2, .h2 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem; }

h3, .h3 {
  font-size: 2.2rem; }

h4, .h4 {
  font-size: 2rem; }

h5, .h5 {
  font-size: 1.8rem; }

h6, .h6 {
  font-size: 1.5rem; }

p {
  margin-top: 0; }

/* UTILITIES
 * ------------------------------------------------ */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* BASE GRID
 * ------------------------------------------------ */
.container {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.row {
  margin-bottom: 2rem; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  /* Overrides */
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
    .column:first-child:not([class^="offset"]),
    .columns:first-child:not([class^="offset"]) {
      margin-left: 0; }
  .one.column,
  .one.columns {
    width: 1.25%; }
  .two.columns {
    width: 7.83333%; }
  .three.columns {
    width: 14.41667%; }
  .four.columns {
    width: 21%; }
  .five.columns {
    width: 27.58333%; }
  .six.columns {
    width: 34.16667%; }
  .seven.columns {
    width: 40.75%; }
  .eight.columns {
    width: 47.33333%; }
  .nine.columns {
    width: 53.91667%; }
  .ten.columns {
    width: 60.5%; }
  .eleven.columns {
    width: 67.08333%; }
  .twelve.columns {
    width: 73.66667%; }
  .thirteen.columns {
    width: 80.25%; }
  .fourteen.columns {
    width: 86.83333%; }
  .fifteen.columns {
    width: 93.41667%; }
  .sixteen.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column,
  .one-third.columns {
    width: 30.66667%; }
  .two-thirds.column,
  .two-thirds.columns {
    width: 63.33333%; }
  .one-half.column,
  .one-half.columns {
    width: 48%; }
  .full-width.column,
  .full-width.columns {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .offset-by-one {
    margin-left: 6.58333%; }
  .offset-by-two {
    margin-left: 13.16667%; }
  .offset-by-three {
    margin-left: 19.75%; }
  .offset-by-four {
    margin-left: 26.33333%; }
  .offset-by-five {
    margin-left: 32.91667%; }
  .offset-by-six {
    margin-left: 39.5%; }
  .offset-by-seven {
    margin-left: 46.08333%; }
  .offset-by-eight {
    margin-left: 52.66667%; }
  .offset-by-nine {
    margin-left: 59.25%; }
  .offset-by-ten {
    margin-left: 65.83333%; }
  .offset-by-eleven {
    margin-left: 72.41667%; }
  .offset-by-twelve {
    margin-left: 79%; }
  .offset-by-thirteen {
    margin-left: 85.58333%; }
  .offset-by-fourteen {
    margin-left: 92.16667%; }
  .offset-by-fifteen {
    margin-left: 98.75%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* TABLET (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 99%) {
  .container {
    width: 768px; }
    .container .column.alpha,
    .container .columns.alpha {
      margin-left: 0;
      margin-right: 2%; }
    .container .column.omega,
    .container .columns.omega {
      margin-right: 0;
      margin-left: 2%; }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0; } }

/*  MOBILE (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%; }
    .container .column,
    .container .columns {
      max-width: 100%;
      margin-left: 2%;
      margin-right: 2%; }
    .container .one.column {
      width: 96%; }
    .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
      width: 96%; }
    .container .one-third.column {
      width: 96%; }
    .container .two-thirds.column {
      width: 96%; }
    .container .full-width.columns {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
      padding-left: 0; } }

/* MOBILE (LANDSCAPE)
 * ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%; }
    .container .column,
    .container .columns {
      max-width: 100%;
      margin-left: 2%;
      margin-right: 2%; }
    .container .one.column {
      width: 96%; }
    .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
      width: 96%; }
    .container .one-third.column {
      width: 96%; }
    .container .two-thirds.column {
      width: 96%; }
    .container .full-width.columns {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
      padding-left: 0; } }

/* CLEARING
 * ------------------------------------------------ */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .row {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .row:before, .row:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after, .row:after {
    clear: both; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.site-header {
  margin: 3.6rem 0;
  vertical-align: bottom; }
  .site-header h1 {
    font-size: 24px;
    margin: 0 1.8rem 0 0; }
  .site-header ul, .site-header li {
    margin: 0;
    padding: 0; }
  .site-header li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    margin: 0 0.9rem; }
    .site-header li:last-child {
      margin: 0 0 0.9rem 0; }
    .site-header li a {
      text-transform: uppercase;
      box-shadow: none;
      color: #9b9b9b;
      padding-top: 5px;
      transition: border 150ms 0s ease; }
      .site-header li a:hover {
        border-top: 3px solid #555555; }
      .site-header li a.active {
        font-weight: 700;
        border-top: 3px solid #555555;
        color: #555555; }
  .site-header #menu-icon, .site-header #menu-checkbox {
    display: none; }

@media only screen and (max-width: 767px) {
  .site-header #menu-icon {
    display: block; }
  .site-header ul {
    margin: 1.8rem 0;
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%; }
  .site-header li {
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
    padding: 0.9rem 0; }
    .site-header li a:hover {
      border: none; }
    .site-header li a.active {
      font-weight: 700;
      border: none; }
  .site-header [id^=menu-checkbox]:checked + ul {
    display: block; } }

.site-footer {
  margin: 3.6rem 0;
  padding: 3.6rem 0;
  border-top: 2px solid #f0f0f0;
  color: #9b9b9b; }
  .site-footer .links {
    text-align: right; }
    .site-footer .links svg {
      display: inline-block; }

a.fade {
  color: #9b9b9b;
  transition: color 150ms 0s ease; }
  a.fade:hover {
    color: #555555; }

a.nounderline {
  box-shadow: none; }
  a.nounderline:hover {
    box-shadow: none; }

.paginator {
  margin: 3.6rem 0; }
  .paginator ul {
    text-align: center; }
  .paginator li {
    display: inline-block;
    list-style: none;
    margin: 0 5px; }
    .paginator li a {
      display: table-cell; }
    .paginator li a.active {
      font-weight: 700;
      color: #555555; }

.meta {
  font-weight: 300;
  color: #9b9b9b; }
  .meta .date {
    float: left; }
  .meta .author {
    float: right; }

@media only screen and (max-width: 767px) {
  .meta .author, .meta .date {
    float: none; } }

.post-list-item {
  padding: 0.9rem 0;
  margin: 0.9rem 0;
  border-bottom: 2px solid #f0f0f0;
  position: relative; }
  .post-list-item h2 {
    font-size: 18px;
    margin-bottom: 0rem; }

.post-header {
  padding: 0.9rem 0;
  margin: 1.8rem 0 3.6rem 0;
  border-bottom: 2px solid #f0f0f0; }
  .post-header h2 {
    margin-bottom: 1.8rem; }
