{{ define "main" }}
<main>
  <article>
    <div class="post-header">
      <h2><a href="{{ .URL }}" class="nounderline">{{ .Title }}</a></h2>
      <div class="meta clearfix">
        {{ if not .PublishDate.IsZero }}
        <div class="date">{{ .PublishDate.Format "January 2, 2006" }}</div>
        {{ else if not .Date.IsZero }}
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        {{ end }}
        <div class="author">by {{ $.Param "author" }}</div>
      </div>
    </div>

    <div class="post-body">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
